/copy_script.py
/output.txt
/buildDocker.txt
/install-poetry.py
isidora.jakovlevska@st:;;;;udent.um.si
/datasets/data_object_calib/
/datasets/data_object_image_2/
/datasets/data_object_label_2/
/datasets/data_object_velodyne/
/yolov8n.pt
/datasets/coco128/
/runs/
/mlruns/
/datasets/kitti50/
/yolov9-main/
/yolov8s.pt
/yolov8m.pt
/yolo11n.pt
/yolo11s.pt
/datasets/v1.0-mini/
/datasets/v1.0-trainval_meta/
/yolov8n.onnx
/datasets/coco8/
