/copy.py
/output.txt
/buildDocker.txt
/install-poetry.py
isidora.jakovlevska@st:;;;;udent.um.si
/datasets/data_object_calib/
/datasets/data_object_image_2/
/datasets/data_object_label_2/
/datasets/data_object_velodyne/


